@font-face {
    font-family: 'Ganjnameh';
    src:url('../fonts/GanjNamehSans-Regular.woff2') format('woff2'),
    url('../fonts/GanjNamehSans-Regular.woff') format('woff'),
    url('../fonts/GanjNamehSans-Regular.ttf') format('truetype'),
    url('../fonts/GanjNamehSans-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family : 'Ganjnameh', 'Varela Round' !important;
}


.rtl {
    direction : rtl !important;
}


#mainNav {
    background-color : #ffffff;
    min-height       : 56px;
}


#mainNav .navbar-toggler {
    border    : 1px solid #64a19d;
    color     : #64a19d;
    font-size : 80%;
    padding   : 0.75rem;
}


#mainNav .navbar-toggler:focus {
    outline : none;
}


#mainNav .navbar-brand {
    color       : #161616;
    display     : flex;
    display     : inline-block;
    font-weight : 700;
    padding     : .9rem 0;
    position    : relative;
}


#mainNav .navbar-brand img {
    max-width : 50px;
}


#mainNav .navbar-brand span {
    position : relative;
    top      : 5px;
}


#mainNav .navbar-brand sup {
    font-size : 9px;
}


#mainNav .navbar-nav .nav-item:hover {
    background-color : transparent;
    color            : fade(white, 80%);
    outline          : none;
}


#mainNav .navbar-nav .nav-item:active, #mainNav .navbar-nav .nav-item:focus {
    background-color : transparent;
    outline          : none;
}


@media (min-width : 992px) {
    #mainNav {
        background-color   : transparent;
        border-bottom      : none;
        padding-bottom     : 0;
        padding-top        : 0;
        transition         : background-color 0.3s ease-in-out;
        -webkit-transition : background-color 0.3s ease-in-out;
    }


    #mainNav .navbar-brand {
        color   : rgba(255, 255, 255, 0.5);
        padding : .5rem 0;
    }


    #mainNav .nav-link {
        color              : rgba(255, 255, 255, 0.5);
        padding            : 2rem 1.5rem;
        transition         : none;
        -webkit-transition : none;
    }


    #mainNav .nav-link:hover {
        color : rgba(255, 255, 255, 0.75);
    }


    #mainNav .nav-link:active {
        color : white;
    }


    #mainNav.navbar-shrink {
        background-color : #ffffff;
    }


    #mainNav.navbar-shrink .navbar-brand {
        color : #161616;
    }


    #mainNav.navbar-shrink .nav-link {
        border-bottom : 0.25rem solid transparent;
        color         : #161616;
        padding       : 1.5rem 1.5rem 1.25rem;
    }


    #mainNav.navbar-shrink .nav-link:hover {
        color : #64a19d;
    }


    #mainNav.navbar-shrink .nav-link:active {
        color : #467370;
    }


    #mainNav.navbar-shrink .nav-link.active {
        border-bottom : 0.25rem solid #64a19d;
        color         : #64a19d;
        outline       : none;
    }
}


.masthead {
    background            : -webkit-gradient(linear, left top, left bottom, from(rgba(22, 22, 22, 0.1)), color-stop(75%, rgba(22, 22, 22, 0.5)), to(#161616)), url("../img/bg-masthead.jpg");
    background            : linear-gradient(to bottom, rgba(22, 22, 22, 0.1) 0%, rgba(22, 22, 22, 0.5) 75%, #161616 100%), url("../img/bg-masthead.jpg");
    background-attachment : scroll;
    background-position   : center;
    background-repeat     : no-repeat;
    background-size       : cover;
    height                : auto;
    min-height            : 35rem;
    padding               : 15rem 0;
    position              : relative;
    width                 : 100%;
}


.masthead h1 {
    background              : -webkit-linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.2));
    font-family             : 'Varela Round';
    font-size               : 2.5rem;
    letter-spacing          : 0.8rem;
    line-height             : 2.5rem;
    -webkit-text-fill-color : transparent;
    -webkit-background-clip : text;
}


.masthead h2 {
    font-size : 1rem;
    max-width : 20rem;
}


@media (min-width : 768px) {
    .masthead h1 {
        font-size   : 4rem;
        line-height : 4rem;
    }
}


@media (min-width : 992px) {
    .masthead {
        height  : 100vh;
        padding : 0;
    }


    .masthead h1 {
        font-size      : 2.5rem;
        letter-spacing : 0.8rem;
        line-height    : 6.5rem;
    }


    .masthead h2 {
        font-size : 1.25rem;
        max-width : 30rem;
    }
}


.btn {
    border             : 0;
    box-shadow         : 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
    -webkit-box-shadow : 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
    font-family        : 'Varela Round';
    font-size          : 80%;
    letter-spacing     : .15rem;
    padding            : 1.25rem 2rem;
    text-transform     : uppercase;
}


.btn-primary {
    background-color : #64a19d;
}


.btn-primary:hover {
    background-color : #4f837f;
}


.btn-primary:focus {
    background-color : #4f837f;
    color            : white;
}


.btn-primary:active {
    background-color : #467370 !important;
}


.about-section {
    background  : -webkit-gradient(linear, left top, left bottom, from(#161616), color-stop(75%, rgba(1, 16, 20, 0.9)), to(rgba(2, 33, 42, 0.85)));
    background  : linear-gradient(to bottom, #161616 0%, rgba(1, 16, 20, 0.9) 75%, rgba(1, 16, 20, 0.85) 100%);
    direction   : rtl;
    padding-top : 10rem;
}


.about-section .about-logo {
    display   : block;
    margin    : 30px auto 20px;
    max-width : 200px;
    width     : auto;
}


.about-section h2 {
    color      : #ffffff;
    margin     : 70px 0 15px;
    text-align : center;
}


.about-section h3 {
    color      : #ffffff;
    font-size  : 1rem;
    margin-top : 30px;
    position   : relative;
    text-align : right;
}


.about-section h3 i {
    font-size   : 30px;
    left        : 100%;
    margin-left : 6px;
    opacity     : 0.1;
    position    : absolute;
    top         : 0;
}


.about-section p {
    color         : #aaaaaa;
    font-size     : 14px;
    font-weight   : normal;
    margin-bottom : 15px;
    text-align    : right;
}


.about-section ol {
    color      : #aaaaaa;
    direction  : rtl;
    text-align : right;
}


@media (min-width : 992px) {
    .projects-section .featured-text {
        border-left : 0.5rem solid #64a19d;
        padding     : 0 0 0 2rem;
    }
}


.projects-section .project-text {
    font-size : 90%;
    padding   : 3rem;
}


@media (min-width : 992px) {
    .projects-section .project-text {
        padding : 5rem;
    }


    .projects-section .project-text hr {
        border-color : #64a19d;
        border-width : .25rem;
        width        : 30%;
    }
}


.signup-section {
    background            : -webkit-gradient(linear, left top, left bottom, from(rgba(22, 22, 22, 0.1)), color-stop(75%, rgba(22, 22, 22, 0.5)), to(#161616)), url("../img/bg-signup.jpg");
    background            : linear-gradient(to bottom, rgba(22, 22, 22, 0.1) 0%, rgba(22, 22, 22, 0.5) 75%, #161616 100%), url("../img/bg-signup.jpg");
    background-attachment : scroll;
    background-position   : center;
    background-repeat     : no-repeat;
    background-size       : cover;
    padding               : 10rem 0;
}


.signup-section .form-inline input {
    border             : 0;
    box-shadow         : 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
    -webkit-box-shadow : 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
    font-family        : 'Varela Round';
    font-size          : 80%;
    height             : auto;
    letter-spacing     : 0.15rem;
    padding            : 1.25rem 2rem;
    text-transform     : uppercase;
}


.contact-section {
    padding : 5rem 0 0;
}


.contact-section .card {
    border        : 0;
    border-bottom : 0.25rem solid #64a19d;
}


.contact-section .card h4 {
    font-family    : 'Varela Round';
    font-size      : 0.8rem;
    letter-spacing : 0.15rem;
    text-transform : uppercase;
}


.contact-section .card hr {
    border-color : #64a19d;
    border-width : 0.25rem;
    width        : 3rem;
}


.contact-section .social {
    margin-top : 5rem;
}


.contact-section .social a {
    background    : rgba(255, 255, 255, 0.1);
    border-radius : 100%;
    color         : rgba(255, 255, 255, 0.3);
    height        : 3rem;
    line-height   : 3rem;
    text-align    : center;
    width         : 3rem;
}


.contact-section .social a:hover {
    color : rgba(255, 255, 255, 0.5);
}


.contact-section .social a:active {
    color : #ffffff;
}


body {
    font-family    : 'Nunito';
    letter-spacing : 0.0625em;
}


a {
    color : #64a19d;
}


a:focus, a:hover {
    color           : #3c6360;
    text-decoration : none;
}


.bg-black {
    background-color : #161616 !important;
}


.bg-primary {
    background-color : #64a19d !important;
}


.text-primary {
    color : #64a19d !important;
}


footer {
    padding : 5rem 0;
}


.address-dec {
    text-align : right;
    direction  : rtl;
    font-size  : 10px;
}
