/** @define variables; */
:root {
    --gutter: 16px;
    --unit: 8px;

    --default-text-color: #dddedf;
    --passive-text-color: #aaa;

    --title-font-size: 20px;
    --list-font-size: 16px;
    --text-font-size: 14px;
    --about-us-width: 720px;

    --black: #303030;
    --white: rgba(255, 255, 255, 0.8);
    --menu-bg: #fafafa;
    --red: #ff442a;
    --yell: #ff9;
    --border: #cccccc;
    --active: #61dafb;
}
