/* @define menu */
.menu {
    display: flex;

    &__item {
        color: var(--green);

        &--the-last {
            margin-right: auto;
        }
    }

    &__active {
        color: var(--red) !important;
    }
}
