/* @import helpers */
@import 'helpers/variables';
@import 'helpers/requirement';
@import 'helpers/extensions';
@import 'helpers/reset';

.component {
	color: #2f95ff;
}

.text {
	display: flex;
}

.test {
	display: flex;
}

.active {
	color: red;
}
